@import url(../../../../node_modules/antd/dist/antd.css);
@import url(header.scss);
@import url(cookieBar.scss);
@import url(abstractTree.scss);
@import url(globals.scss);
#root {
  width: 100%;
  height: 100%;
}

.canvas {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.main-container {
  position: relative;
}

.main-container .canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.main-container webview {
  position: absolute;
  top: 0;
  left: 0;
}

path.link {
  stroke: gray;
  fill: none;
  opacity: 0.5;
  stroke-width: 2px;
}

circle.node {
  fill: gray;
  stroke: none;
}

circle.node-head, circle.node-meta {
  fill: antiquewhite;
  stroke: antiquewhite;
}

circle.node-script {
  fill: #1890ff;
}

circle.node-style, circle.node-link {
  fill: magenta;
}

circle.node-label, circle.node-h1, circle.node-h2, circle.node-h3, circle.node-h4, circle.node-h5, circle.node-h6, circle.node-span, circle.node-p, circle.node-td, circle.node-th, circle.node-img, circle.node-i, circle.node-noscript, circle.node-u, circle.node-b, circle.node-cite {
  fill: orange;
  stroke: none;
}

circle.node-input, circle.node-option {
  fill: green;
  stroke: none;
}

circle.node-form, circle.node-select {
  fill: none;
  stroke: olive;
}

circle.node-a, circle.node-button {
  fill: red;
  stroke: none;
}

circle.node-iframe {
  fill: black;
}

circle.node-div, circle.node-section, circle.node-table, circle.node-tr, circle.node-center, circle.node-hr, circle.node-br, circle.node-tbody, circle.node-thead, circle.node-footer, circle.node-body, circle.node-ul, circle.node-li, circle.node-ol, circle.node-html {
  stroke: #1890ff;
  fill: none;
}

.tabs-container {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 15px;
}

.ant-tabs-tabpane-active, .ant-tabs-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

.ant-tabs-bar {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border: none;
}

.toolbar {
  position: absolute;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 50px;
}

.legend-item {
  padding: .1em;
  margin: .1em;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

.legend-item-head, .legend-item-meta {
  background-color: antiquewhite;
  color: darkgray;
}

.legend-item-script {
  background-color: #1890ff;
}

.legend-item-style, .legend-item-link {
  background-color: magenta;
}

.legend-item-label, .legend-item-h1, .legend-item-h2, .legend-item-h3, .legend-item-h4, .legend-item-h5, .legend-item-h6, .legend-item-span, .legend-item-p, .legend-item-td, .legend-item-th, .legend-item-img, .legend-item-i, .legend-item-noscript, .legend-item-u, .legend-item-b, .legend-item-cite {
  background-color: orange;
  stroke: none;
}

.legend-item-input, .legend-item-option {
  background-color: green;
  stroke: none;
}

.legend-item-form, .legend-item-select {
  background-color: olive;
}

.legend-item-a, .legend-item-button {
  background-color: red;
  stroke: none;
}

.legend-item-iframe {
  background-color: black;
}

.legend-item-div, .legend-item-section, .legend-item-table, .legend-item-tr, .legend-item-center, .legend-item-hr, .legend-item-br, .legend-item-tbody, .legend-item-thead, .legend-item-footer, .legend-item-body, .legend-item-ul, .legend-item-li, .legend-item-ol, .legend-item-html {
  color: #1890ff;
}

.descendants {
  fill: #232836;
  stroke: none;
}

.descendants-script {
  fill: #13ecb5;
}

.descendants-style, .descendants-link, .descendants-meta {
  fill: #13ecb5;
}

.descendants-style-line, .descendants-link-line, .descendants-meta-line {
  stroke: #13ecb5;
  fill: none;
}

.descendants-img, .descendants-audio, .descendants-video, .descendants-picture {
  fill: purple;
  stroke: none;
}

.descendants-label, .descendants-h1, .descendants-h2, .descendants-h3, .descendants-h4, .descendants-h5, .descendants-h6, .descendants-span, .descendants-p, .descendants-td, .descendants-th, .descendants-i, .descendants-noscript, .descendants-u, .descendants-b, .descendants-cite {
  fill: orange;
  stroke: none;
}

.descendants-input, .descendants-option, .descendants-form, .descendants-select, .descendants-fieldset {
  fill: none;
  stroke: white;
  opacity: 0.6;
}

.descendants-input-fill, .descendants-option-fill, .descendants-form-fill, .descendants-select-fill, .descendants-fieldset-fill {
  fill: white;
  stroke: none;
}

.descendants-a, .descendants-button {
  fill: #c63d0f;
}

.descendants-a line, .descendants-button line {
  stroke: #c63d0f;
  stroke-width: 3px;
}

.descendants-a-link, .descendants-button-link {
  fill: #c63d0f;
}

.descendants-iframe {
  fill: black;
}

.descendants-tbody, .descendants-thead, .descendants-head, .descendants-footer, .descendants-body, .descendants-html, .descendants-header {
  fill: #f8cd0c;
}

.descendants-div, .descendants-section, .descendants-table, .descendants-tr, .descendants-center, .descendants-hr, .descendants-br, .descendants-ul, .descendants-li, .descendants-ol, .descendants-html {
  fill: #5d2dcb;
  opacity: 0.4;
}

.descendants-svg {
  fill: #19a3a4;
}

.descendants-svg-line {
  fill: none;
  stroke: #19a3a4;
  stroke-width: 1;
}

.descendants-invisible {
  opacity: 0.001;
}

.descendants-line {
  stroke-width: 1;
  stroke: none;
}

.descendants-unknown {
  fill: #29527f;
}

.descendants-unknown-line {
  stroke: #29527f;
  stroke-width: 1px;
  fill: none;
}

.descendants-span {
  margin-right: 10px;
}

.dark {
  fill: white !important;
  opacity: 1 !important;
}

.dark-line {
  stroke: white !important;
  fill: none !important;
}

.top-slider {
  left: 200px;
  width: 250px;
  color: white;
}

.ant-checkbox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.ant-checkbox-wrapper + span, .ant-checkbox + span {
  color: #b3b3b3;
  margin: 5px 0;
}
/*# sourceMappingURL=app.css.map */