@import url(../../../../node_modules/antd/dist/antd.css);
@import url(header.scss);
@import url(cookieBar.scss);
@import url(abstractTree.scss);  
@import url(globals.scss);

$barsize: 15px;
$color-green: #13ecb5;
$color-red:#c63d0f;
$color-blue:#232836;
$color-gray:#b3b3b3;
$color-purple: #5d2dcb;
$color-yellow: #f8cd0c;
$color-pink: #29527f;
$color-oceanBlue:#19a3a4;

#root{
    width: 100%;
    height: 100%;
}
	

.canvas { 
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.main-container{
    position: relative;


    .canvas{
        position: absolute;
        top: 0;
        left: 0;

    }
    webview{
        position: absolute;
        top:0;
        left:0;

    }

}


path.link {
    stroke: gray;
    fill: none;
    opacity: 0.5;
    stroke-width: 2px;
}

circle.node {
    fill: gray;
    stroke: none;

    // Metadata

    &-head, &-meta{
        fill: antiquewhite;
        stroke: antiquewhite;
    }

    // Scripts and links
    &-script{
        fill: #1890ff;
    }
    &-style, &-link{
        fill: magenta;
    }

    // Presentation tag
    &-label, &-h1, &-h2, &-h3, &-h4, &-h5, &-h6, &-span, &-p, &-td, &-th, &-img, &-i, &-noscript, &-u, &-b, &-cite{ // Presentation tags
        fill: orange;
        stroke: none
    }
    // Input tags
    &-input, &-option{ // Presentation tags
        fill: green;
        stroke: none

    }

    // Form
    &-form, &-select{
        fill: none;
        stroke: olive;
    }


    // Action tags
    &-a, &-button{ // Presentation tags
        fill: red;
        stroke: none
    }

    // Outside
    &-iframe{
        fill: black;
    }

    // Structural tags
    &-div, &-section, &-table, &-tr, &-center, &-hr, &-br, &-tbody, &-thead, &-footer, &-body, &-ul, &-li, &-ol, &-html{
        stroke: #1890ff;
        fill: none;
    }
}

.tabs-container{
    width: 100%;
    height: 100%;

    position: absolute;

    padding-top: $barsize;

}

.ant-tabs-tabpane-active,.ant-tabs-content{
    position: relative;
    width: 100%;
    height: 100%;

    background-color: white;
}
.ant-tabs-bar{
    margin: 0;

    display: flex;
    flex-direction: row-reverse;

    border: none;
}

.toolbar{
    position: absolute;

    top: 0px;

    z-index: 2;

    width: 100%;
    height: 50px;;
}

.legend-item {
    padding: .1em;
    margin: .1em;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    
    // Metadata
    &-head, &-meta{
        background-color: antiquewhite;
        color: darkgray;
    }

    // Scripts and links
    &-script{
        background-color: #1890ff;
    }
    &-style, &-link{
        background-color: magenta;
    }

    // Presentation tag
    &-label, &-h1, &-h2, &-h3, &-h4, &-h5, &-h6, &-span, &-p, &-td, &-th, &-img, &-i, &-noscript, &-u, &-b, &-cite{ // Presentation tags
        background-color: orange;
        stroke: none
    }
    // Input tags
    &-input, &-option{ // Presentation tags
        background-color: green;
        stroke: none

    }

    // Form
    &-form, &-select{
        background-color: olive;
    }


    // Action tags
    &-a, &-button{ // Presentation tags
        background-color: red;
        stroke: none
    }

    // Outside
    &-iframe{
        background-color: black;
    }

    // Structural tags
    &-div, &-section, &-table, &-tr, &-center, &-hr, &-br, &-tbody, &-thead, &-footer, &-body, &-ul, &-li, &-ol, &-html{
        color: #1890ff;
    }
}
 

.descendants { 
    fill: $color-blue;
    stroke: none;

    // Metadata
    // &-meta{
    //     fill: $color-blue;
    //     stroke: $color-blue;
    // }

    // Scripts and links
    &-script{
        fill: $color-green;
    }
    &-style, &-link , &-meta{
        fill: $color-green;
        &-line{
            stroke: $color-green;
            fill:none;
        }
    }

    //MEDIA
    &-img,&-audio, &-video, &-picture{
        fill: purple;
        stroke: none
    }

    // Presentation tag
    &-label, &-h1, &-h2, &-h3, &-h4, &-h5, &-h6, &-span, &-p, &-td, &-th, &-i, &-noscript, &-u, &-b, &-cite{ 
        fill: orange;
        stroke: none
    }
    &-input, &-option, &-form, &-select, &-fieldset{ 
        fill: none;
        stroke: white;
        opacity:0.6;
        &-fill{
            fill:white;
            stroke:none;
        }
    }



    // Action tags
    &-a, &-button{ 
        fill: $color-red;
        line{
            stroke: $color-red;
            stroke-width: 3px;
        }
        &-link{
            fill: $color-red;
        }
    }

    // Outside
    &-iframe{
        fill: black;
    }

    &-tbody, &-thead, &-head, &-footer, &-body, &-html, &-header{
        fill: $color-yellow;
    }
    // Structural tags
    &-div, &-section, &-table, &-tr, &-center, &-hr, &-br, &-ul, &-li, &-ol, &-html{
        fill: $color-purple;
        opacity:0.4;
    }

    &-svg{
        fill:$color-oceanBlue ;   
        &-line{
            fill:none;
            stroke:$color-oceanBlue;
            stroke-width: 1;
        } 
    }

    &-invisible{
        opacity:0.001;
    }

    &-line{
        stroke-width: 1;
        stroke: none;
    }
    &-unknown{
        fill:$color-pink;
        &-line{
            stroke:$color-pink;
            stroke-width: 1px;
            fill: none;
        }
    }

    &-span{
        margin-right: 10px;
    }

}

.dark{
    fill:white !important;
    opacity:1 !important;
    &-line{
        stroke:white !important;
        fill:none !important;
    }
}

.top-slider{
    left: 200px;
    width: 250px;
    color:white;
}

.ant-checkbox-group{
    display: flex;
    flex-flow: column;
}

.ant-checkbox-wrapper + span, .ant-checkbox + span{
    color:$color-gray;
    margin: 5px 0;
}