

#CookieBar{
 background-color: white;   
}

.sideCookie{
    margin: 3px 3px;
    font-size: 0px;
}

.full-width{
    width: 100%;
}

#cookieInfoCard{
    position: absolute;
    top: 20px;
    border: solid;
    z-index: 3;
    
}
.card-info span{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #a9a9a9;
}

.card-info h3{
    overflow: hidden;
    font-size: 1.375em;
}

.card-right{
    right:70px ;
}

.card-left{
    left:50px;
}

#cookieViz{
    background-color:white;
    position: fixed;
    z-index: 2;
    display: flex;
    border-left: solid 0.5px #f1f3f4;

}

#horizontalCookies {
    display: flex;
    max-height: 546px;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: wrap;
    flex-direction: column;
}

#horizontalCookies::-webkit-scrollbar {
    display: none;
}
#horizontalCookies {
    -ms-overflow-style: none;  
    overflow: -moz-scrollbars-none;  
}

#horizontalURLS{
    display: flex;
    max-height: 226px;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: wrap;
    flex-direction: column;
}
#horizontalURLS::-webkit-scrollbar {
    display: none;
}
#horizontalURLS {
    -ms-overflow-style: none;  
    overflow: -moz-scrollbars-none;  
    margin-top: 5px;
}
.ant-btn-round.ant-btn-lg{
    margin: 0 10px 10px 0;
    display: flex;
    align-items: center;
}
#cookiesFilter{
    display: flex;
    align-content: center;
    justify-content: center;
}